<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/pictures/phoneicon.png">
    <link rel="apple-touch-icon-precomposed" href="/pictures/phoneicon.png">
    <link rel="shortcut icon" href="/pictures/phoneicon.png">
    <link rel="icon" sizes="192x192" href="/pictures/phoneicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <link href="/assets/css/public.css?v=0.0.1" rel="stylesheet" />
    <link href="/assets/css/desktop.css?v=0.0.9" rel="stylesheet" media="screen and (min-width:1000px)" />
    <link href="/assets/css/mobile.css?v=0.1.1" rel="stylesheet" media="screen and (max-width:1000px)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex,nofollow,noarchive">
    <script defer data-domain="labelrado.com" src="https://plausible.io/js/plausible.js"></script>
    <title>Labelrado - QR Marketing</title>
</head>

<body>

    <div class="main">
        <div class="head">
            <a href="/">
                <div class="logo"></div>
            </a>
            <a href="/">
                <div class="Homepage">Zum QR Marketing</div>
            </a>
        </div>
        <div class="mobile">
            <div class="cookiekv">
                <img class="cookiekv_img" src="/pictures/qrbg.png">
                <div class="cookiekv_txt1">{{ page.content1 }}</div>
                <div class="cookiekv_txt2">{{ page.content2 }}</div>
                <div class="cookiekv_txt3">Damit ist hier DEIN kreativer Freiraum für eine stark konvertierende
                    Landingpage!
                </div>
            </div>
            <div class="cookiekv2">
                <div class="cookiekv2_txt1">Du erlebst eine digitale Lösung powered by QR-Marketing, a brand of
                    All4Labels
                    Massen-Serialisierung
                    kombiniert mit innovativen digitalen Lösungen</div>
                <a href="/de/imprint">
                    <div class="Kontakt">Kontakt aufnehmen</div>
                </a>
            </div>
            <div class="cookiekv3">
                <div class="cookiekv3_text1">QR Tags liefern DSGVO konforme Informationen</div>
                <ul>
                    <li>Erstnutzer, wiederkehrende Nutzer Deiner Kampagne </li>
                    <li>SCAN-Datum, -Uhrzeit, Location, Device wie IOS/Android etc. </li>
                </ul>
                <div class="cookiekv3_text1">Weitere QR Tag/NFC Benefits</div>
                <ul>
                    <li>offline drives online</li>
                    <li>instant Kampagnenänderungen möglich</li>
                    <li>A/B Kampagnen/Konversionstesting gleiches Etikett, alternative Landingpage </li>
                    <li>unabhängig ob noch im Verkaufsregal oder zu Hause beim Kunden </li>
                    <li>Brand Protection/Grey Market Lösungen </li>
                    <li>Label Data Analytics</li>
                    <li>coole Lösung, die Dich oder einen Kunden von Dir interessiert? </li>
                </ul>
            </div>
            <div class="cookiekv4">
                <div class="cookiekv4_txt1">Der HALLO. WACH. KEKS! hat Dir geschmeckt?
                    Dann gleich hier Nachschub bestellen ;-)</div>
                <img src="/pictures/qrpic1.png">
                <a href="https://www.hallowachkeks.de/">
                    <div class="Kekse_kaufen">Zum Shop</div>
                </a>
            </div>
        </div>
        <div class="desk">
            <div class="cookiedesk">
                <h1>For Mobile Phone Only</h1>
            </div>
        </div>
        {{ content }}
        <div class="foot">
            <div class="copy">Copyright © 2022 QR Marketing GmbH. All rights reserved.</div><a href="/de/imprint"
                class="Imprint">Imprint</a><a href="https://all4labels.com/de/datenschutzerklaerung/"
                class="Privacy">Privacy Policy</a>
        </div>
    </div>
    <script>
    </script>
</body>

</html>