<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/website/pictures/phoneicon.png">
    <link rel="apple-touch-icon-precomposed" href="/website/pictures/phoneicon.png">
    <link rel="shortcut icon" href="/website/pictures/phoneicon.png">
    <link rel="icon" sizes="192x192" href="/website/pictures/phoneicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <link href="/website/assets/css/public.css?v=0.0.1" rel="stylesheet" />
    <link href="/website/assets/css/desktop.css?v=0.0.3" rel="stylesheet" media="screen and (min-width:1000px)" />
    <link href="/website/assets/css/mobile.css?v=0.0.3" rel="stylesheet" media="screen and (max-width:1000px)" />
    <link rel="shortcut icon" href="/website/favicon.ico" type=”image/x-icon” />
    <meta name="robots" content="noindex,nofollow,noarchive">
    <title>Label Cloud</title>
</head>

<body>

    <div class="main">
        <div class="head">
            <a href="/website">
                <div class="logo"></div>
            </a>
            <a href="/website"><div class="button absright">Zum QR Marketing</div></a>
        </div>
        <div class="mobile">
            <div class="cookiekv">
                <img class="cookiekv_img" src="/website/pictures/qrbg.png">
                <div class="cookiekv_txt1">{{ page.content1 }}</div>
                <div class="cookiekv_txt2">{{ page.content2 }}</div>
                <div class="cookiekv_txt3">Damit ist hier DEIN kreativer Freiraum für eine stark konvertierende
                    Landingpage!
                </div>
            </div>
            <div class="cookiekv2">
                <div class="cookiekv2_txt1">Du erlebst eine digitale Lösung powered by QR-Marketing, a brand of
                    All4Labels
                    Massen-Serialisierung
                    kombiniert mit innovativen digitalen Lösungen</div>
                <a href="../imprint_de.html"><div class="button cookiekv2_btn1">Kontakt aufnehmen</div></a>
            </div>
            <div class="cookiekv3">
                <div class="cookiekv3_text1">QR Tags liefern DSGVO konforme Informationen</div>
                <ul>
                    <li>Erstnutzer, wiederkehrende Nutzer Deiner Kampagne </li>
                    <li>SCAN-Datum, -Uhrzeit, Location, Device wie IOS/Android etc. </li>
                </ul>
                <div class="cookiekv3_text1">Weitere QR Tag/NFC Benefits</div>
                <ul>
                    <li>offline drives online</li>
                    <li>instant Kampagnenänderungen möglich</li>
                    <li>A/B Kampagnen/Konversionstesting gleiches Etikett, alternative Landingpage </li>
                    <li>unabhängig ob noch im Verkaufsregal oder zu Hause beim Kunden </li>
                    <li>Brand Protection/Grey Market Lösungen </li>
                    <li>Label Data Analytics</li>
                    <li>coole Lösung, die Dich oder einen Kunden von Dir interessiert? </li>
                </ul>
            </div>
            <div class="cookiekv4">
                <div class="cookiekv4_txt1">Managing Director:<br>
                    Nicolas Günther, Dr. Günther Weymans, Bram D'hondt</div>
                <img src="/website/pictures/qrpic1.png">
                <a href="https://www.hallowachkeks.de/"><div class="button cookiekv4_btn">Zum Shop</div></a>
            </div>
        </div>
        <div class="desk">
            <div class="cookiedesk">
                <h1>For Mobile Phone Only</h1>
            </div>
        </div>
        {{ content }}
        <div class="foot">
            <div class="copy">Copyright © 2022 QR Marketing GmbH. All rights reserved.</div><a href="../imprint_de.html"
                class="Imprint">Imprint</a>
        </div>
    </div>
    <script>
    </script>
</body>

</html>