<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/website/pictures/phoneicon.png">
    <link rel="apple-touch-icon-precomposed" href="/website/pictures/phoneicon.png">
    <link rel="shortcut icon" href="/website/pictures/phoneicon.png">
    <link rel="icon" sizes="192x192" href="/website/pictures/phoneicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <link href="/website/assets/css/public.css?v=0.0.1" rel="stylesheet" />
    <link href="/website/assets/css/desktop.css?v=0.0.3" rel="stylesheet" media="screen and (min-width:1000px)" />
    <link href="/website/assets/css/mobile.css?v=0.0.3" rel="stylesheet" media="screen and (max-width:1000px)" />
    <link rel="shortcut icon" href="/website/favicon.ico" type=”image/x-icon” />
    <meta name="robots" content="noindex,nofollow,noarchive">
    <title>Label Cloud</title>
</head>

<body>
    <div class="main">
        {{ content }}
    </div>

</body>

</html>