<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="/pictures/phoneicon.png">
    <link rel="apple-touch-icon-precomposed" href="/pictures/phoneicon.png">
    <link rel="shortcut icon" href="/pictures/phoneicon.png">
    <link rel="icon" sizes="192x192" href="/pictures/phoneicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <link href="/assets/css/public.css?v=0.0.2" rel="stylesheet" />
    <link href="/assets/css/desktop.css?v=0.0.9" rel="stylesheet" media="screen and (min-width:1000px)" />
    <link href="/assets/css/mobile.css?v=0.0.9" rel="stylesheet" media="screen and (max-width:1000px)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2746ae">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex,nofollow,noarchive">
    <script defer data-domain="labelrado.com" src="https://plausible.io/js/plausible.js"></script>
    <title>Labelrado - QR Marketing</title>
</head>

<body>
    <div class="main">
        {{ content }}
    </div>

</body>

</html>